study20_webproject/.settings/org.eclipse.jdt.core.prefs
study20_webproject/.settings/org.eclipse.m2e.core.prefs
study20_webproject/.settings/org.eclipse.wst.common.component
study20_webproject/.settings/org.eclipse.wst.common.project.facet.core.xml
study20_webproject/.settings/org.eclipse.wst.validation.prefs
study20_webproject/.settings/org.springframework.ide.eclipse.beans.core.prefs
study20_webproject/.settings/org.springframework.ide.eclipse.core.prefs
